@charset "utf-8";

:root{
    --cor01:#49a09d;
    --cor02:#5f2c82;

}

*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    position: relative;

    height:100vh;
    width: 100vw;
    background-color:var(--cor02) ;
}

section#login{
    position: absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%
}



div#imagem{
  
    height: 170px;
    width: 280px;
    background: url('../imagens/pexels-gustavo-crivellari-5396946.jpg') right center no-repeat fixed;
    background-size: cover;
    margin: auto;
    border-radius: 15px 15px 0px 0px;  
}

div#formulario{
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    height: 300px;
    width: 280px;

}

div#formulario > h1{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

div#formulario > p{
    padding: 0px 5.6px 0px 5.6px;
    line-height: 20px;
    

}
div#formulario > form > p{
    position: relative;
    padding: 0px 5.6px 0px 5.6px;
    line-height: 20px;
    height: 172px;
    width: 281px
}

div#formulario >form > p > img#perfil{
    position:absolute;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    display: inline-block;
    transform: translate(-50%, -50%);
    top:15%;
    left: 10%;
        
}
div#formulario > form > p > input.ema{
    position: absolute;
    width: 219px;  
    background-color: #49a09d69;
    border-radius: 10px;
    text-align: left ;
    font-weight: bolder;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 56%;
    padding-top: 24px;
   
}


