@charset "utf-8";

:root{
    --cor01:#49a09d;
    --cor02:#5f2c82;

}

*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    position: relative;

    height:100vh;
    width: 100vw;
    background-color:var(--cor02) ;
}

section#login{
    position: absolute;
    transform:translate(-50%, -50%);
    top:40%;
    left:50%
}



div#imagem{
  
    height: 170px;
    width: 280px;
    background: url('../imagens/pexels-gustavo-crivellari-5396946.jpg') right center no-repeat fixed;
    background-size: cover;
    margin: auto;
    border-radius: 15px 15px 0px 0px;  
}

div#formulario{
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    height: 380px;
    width: 280px;

}

div#formulario > h1{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

div#formulario > p{
    padding: 0px 5.6px 0px 5.6px;
    line-height: 20px;
    margin-bottom: 15px;
    

}
div#formulario > form > p{
    position: relative;
    padding: 0px 5.6px 0px 5.6px;
    line-height: 20px;
    height: 50px;
    width: 281px;
    
}

div#formulario >form > p > img#perfil{
    position:absolute;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    display: inline-block;
    transform: translate(-50%, -50%);
    top:15%;
    left: 10%;
        
}
div#formulario > form > p > input.ema{
    position: absolute;
    width: 219px;  
    background-color: #49a09d75;
    border-radius: 15px;
    text-align: left ;
    font-weight: bolder;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 56%;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor:pointer;  
}
div#formulario > form > p > input.ema:hover{
    background-color: #85b8b6;;
    

}


div#formulario >form > p > img#senha{
    position:absolute;
    height: 45px;
    width: 45px;
    border-radius: 15px;
    display: inline-block;
    transform: translate(-50%, -50%);
    top:15%;
    left: 10%;}

div#formulario > form > p > input.sen{
        position: absolute;
        width: 219px;  
        background-color: #49a09d69;
        border-radius: 10px;
        text-align: left ;
        font-weight: bolder;
        transform: translate(-50%, -50%);
        top: 15%;
        left: 56%;
        padding-top: 12px;
        padding-bottom:12px ;  
        cursor:pointer;
    }
    div#formulario > form > p > input.sen:hover{
        background-color: #85b8b6;
        
    
    }

div#formulario > form > p > input#sub{
    position: absolute;
    background-color: var(--cor01);
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 259px;
    left: 4%;
    top:0%;
    padding-bottom: 15px;
    padding-top: 15px;
    cursor:pointer;
    font-size: 1em;
    

}

div#formulario > form > p > input#esq{
    position: absolute;
    background-color: white;
    color: #2d7573;
    top: 14%;
    left: 4%;
    width: 259px;
    border: 1px  #49a09d solid;
    padding-bottom: 10px;
    padding-top:15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;

}
div#formulario > form > p > input#esq:hover{
    background-color: #49a09d2f;
    cursor:pointer;
}

@media screen and (orientation:landscape) {
    main{
        height: 130vh;
    }
    
}